body {
    font-family: "Arial Black";
    background-color: rgb(243, 229, 182);
    position: relative;
}

/*general classes*/

.z10 {
    z-index: 10;
}

.zminus10 {
    z-index: -10;
}

.d-none {
    display: none;
}

.header1 {
    margin-top: 20px;
    margin-left: 240px;
}

/*canvas*/

.canvas-style {
    border: 3px solid black;
    border-radius: 5px;
}

/*try again button*/

.btn-tryagain {
    cursor: pointer;
    position: absolute;
    border: 5px solid black;
    border-radius: 20px;
    left: 150px;
    top: 350px;
    width: 400px;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .225s;
    /*Animation*/
}

.btn-tryagain:hover {
    transform: scale(1.2);
    /*Animation*/
}

.btn-tryagain p {
    font-size: 30px;
}

.btn-tryagain a {
    color: black;
    text-decoration: none;
}

/*container, displayed at gamestart*/

.buttoncotainer {
    margin-top: 300px;
    width: 720px;
    height: 380px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*start new game button*/

.btn-start {
    cursor: pointer;
    border: 5px solid black;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .225s;
    /*Animation*/
}

.btn-start:hover {
    transform: scale(1.1);
    /*Animation*/
}

.btn-start p {
    font-size: 22px;
}

.btn-start a {
    color: black;
    text-decoration: none;
}

/*help button*/

.btn-help {
    cursor: pointer;
    border: 5px solid black;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .225s;
    /*Animation*/
}

.btn-help:hover {
    transform: scale(1.1);
    /*Animation*/
}

.btn-help p {
    font-size: 20px;
}

.btn-help a {
    color: black;
    text-decoration: none;
}

/*Instructions*/

.helpcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 745px;
    height: 470px;
    background-color: rgba(rgba(255, 239, 151, 0.616), green, blue, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-text {
    padding: 25px;
    width: 500px;
    background-color: lightgrey;
    border-radius: 15px;
}

/*controls panel*/

.controls-container {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 710px;
    height: 150px;
    margin-top: 10px;
    margin-left: 4px;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 5px;
}

.controls-container img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 5px;
}

.controls-row-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    width: 725px;
    height: 80px;
}

.footer-row {
    display: flex;
    align-items: center;
}

.footer-element {
    font-size: 15px;
}

.footer-element a {
    text-decoration: none;
    color: black;
}

.footer-seperator {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
}